@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 60px;
	font-family: 'PT Sans', sans-serif;
}

.page-title {
	font-size: 1.7em;
	font-weight: bold;
	text-align: center !important;
	letter-spacing: 0.75px;
}

.page-p {
	text-align: center !important;
	font-size: 1em;
	letter-spacing: 0.75px;
}

.table-p {
	text-align: left !important;
	margin-left: 20px;
	font-size: 1em;
	letter-spacing: 0.75px;
	font-weight: bold;
}

table {
	font-size: 0.75em;
	text-align: center !important;
	margin: auto;
	border-collapse: collapse;
}

table th {
	padding: 15px 35px;
	border: 0.5px solid #4e4e4e;
}

table tr {
	text-align: center;
	border: 0.5px solid #4e4e4e;
}

table td {
	padding: 15px 35px;
	border: 0.5px solid #4e4e4e;
} */
